.container-flex{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 5px;
}

input{
    width: 2rem;
    border: 1px solid black;
    border-radius: 15px;
    padding: 3.5px;
    margin-bottom: 5px;
    text-align: center;
}
input.invalid{
    border-width: 3px;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

p.errorMessage{
    color: var(--lightRed);
    font-weight: 500;
}

#timers{
    border-bottom: 2px solid var(--lightRed);
}
#timers input{
    color: var(--lightRed);
    border-color: var(--lightRed);
}

#cycles{
    border-bottom: 2px solid var(--lightGreen);
}
#cycles h2{
    color: var(--lightGreen);
}
#cycles input{
    color: var(--lightGreen);
    border-color: var(--lightGreen);
}
