:root {
    --currentTimerIndicatorHeight: 1rem;
    --currentTimerIndicatorBorderX: calc(1rem/2/0.866);
}

#cycleIndicator{
    width: 300px;
    align-self: center;
    display: flex;
    flex-direction: column;
}
#cycleIndicator h3{
    align-self: flex-start;
}

#cycleTimers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#cycleTimers>div{
    border-width: 3px;
    border-style: solid;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: calc(var(--currentTimerIndicatorHeight) + 4px);
}

.pomodoroCircle{
    width: 1.6rem;
    height: 1.6rem;
    border-color: var(--lightRed);
}
.pomodoroCircle.filled{
    background-color: var(--lightRed);
}

.shortBreakCircle{
    width: 1rem;
    height: 1rem;
    border-color: var(--lightGreen);
}
.shortBreakCircle.filled{
    background-color: var(--lightGreen);
}

.longBreakCircle{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0 !important;
    border-color: var(--lightGreen);
}
.longBreakCircle.filled{
    background-color: var(--lightGreen);
}

#currentTimerIndicator{
    width: 0;
    height: 0;
    border-left: var(--currentTimerIndicatorBorderX) solid white;
    border-right: var(--currentTimerIndicatorBorderX) solid white;
    border-bottom: var(--currentTimerIndicatorHeight) solid black;
    margin-inline: auto;
    position: relative;
    top: calc(100% + 6px);
}