h1, h2, h3{
    color: var(--lightRed);
    font-weight: 700;
}

h1{
    font-size: 2.7rem;
}

h2{
    font-size: 1.55rem;
}

a{
    text-decoration: none;
}

.hide{
    display: none !important;
}

#popupContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 500px;
    height: auto;
    padding-top: 25px;
    padding-bottom: 30px;
    border: 3px var(--darkRed) solid;
    text-align: center;
}

.container{
    margin-top: 20px;
}

#extensionName{
    background: var(--lightRed);
    color: white;
    padding: 10px;
    border-radius: 0 0 15px 0;
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
}

#status{
    font-weight: 500;
    color: var(--lightGreen);
}

#timerDisplay{
    align-self: center;
    display: flex;
    align-items: center;
    height: 190px;
    width: 190px;
    border: 2px var(--lightRed) solid;
    border-radius: 100%;
    margin-bottom: 25px;
}
#timerDisplay h2{
    margin: auto;
}

.buttonGroup{
    display: flex;
    justify-content: space-evenly;
}

button{
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 7px 14px 7px 14px;
    font-size: 1.33rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 0.14s;
}

.btnGreen{
    border-color: var(--lightGreen);
    color: var(--lightGreen);
}
.btnGreen:hover{
    border-color: var(--darkGreen);
    color: var(--darkGreen);
}

.btnRed{
    border-color: var(--lightRed);
    color: var(--lightRed);
}
.btnRed:hover{
    border-color: var(--darkRed);
    color: var(--darkRed);
}

#timerButtons button{
    border-radius: 100%;
    padding: 14px;
}

#btnConfig{
    position: absolute;
    top: 0;
    right: 0;
}
